<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<title>Home</title>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container py-5">

	<div class="row">&nbsp;</div>

	<!-- Top row with form-->
	<div class="row">
		<div class="col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/brands}" title="Brand"> <i class="fas fa-building"></i> </a>
			<label class="icon-label">Brand</label>
		</div>
		<div class="col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/products}" title="Product"> <i class="fas fa-shopping-bag"></i> </a>
			<label class="icon-label">Product</label>
		</div>
		<div class="col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/inventory}" title="Inventory"> <i class="fas fa-warehouse"></i> </a>
			<label class="icon-label">Inventory</label>
		</div>
		<div class="col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/orders}" title="Order"> <i class="fa-solid fa-cart-shopping fas"></i> </a>
			<label class="icon-label">Order</label>
		</div>
		<div class="supervisor col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/dailysales}" title="Daily-Sales"> <i class="fas fa-money-bill-alt supervisor"></i> </a>
			<label class="icon-label supervisor">Daily Sales</label>
		</div>
		<div class="supervisor col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/salesreport}" title="Reports"> <i class="fas fa-chart-line supervisor"></i> </a>
			<label class="icon-label supervisor">Reports</label>
		</div>
		<div class="supervisor col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/admin}" title="Admin"> <i class="fas fa-user-cog supervisor"></i> </a>
			<label class="icon-label supervisor">Admin</label>
		</div>
	</div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>